.header {
    background-color: purple;
    height: 70px;
    padding: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-color: #ff7f7f;
    height: 35px;
    display: block;
}

.header-logo-container {
    display: flex;
    align-items: center;
}

.header-text {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.header-right {
    display: flex;
    align-items: center;
}

.login-header {
    background-color: purple;
    color: white;
    padding: 10px;
    text-align: center;
}